<% @title = "Contact" %>
<% @header = "Contact" %>

<p>Find me and my Codes on <a href="https://github.com/garalo">GitHub</a> 
</p>
<p>Send me a message on <a href="https://twitter.com/garalo">Twitter</a> 
</p>
